* {
    padding: 0;
    margin: 0;
}
.loginCont {
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginCard {
    background-color: white;
    width: 25%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #fff;
}
.logoCard {
    text-align: center;
}
.appLogo {
    min-width: 100px;
    max-width: 120px;
}
.loginHead {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 187, 193, 0.751);
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.loginFormCard {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signUpBut {
    margin-top: 30px;
    text-align: center;
}
.link {
    margin-left: 7px;
    text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        animation: Applogospin infinite 5s linear;
    }
}
@keyframes Applogospin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}